<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center mt-2 fs-3">Customers Transactions</p>
            </div>
            <div class="col-12 my-3">
              <div class="d-flex align-items-center justify-content-around">
                <div class="input-container">
                  <input type="text" name="email" class="text-input" [(ngModel)]="termName" />
                  <label for="email">Search By Name</label>
                </div>
                <div class="input-container">
                  <input type="number" name="email" class="text-input" [(ngModel)]="searchAmount" />
                  <label for="email">Search By Amount</label>
                </div>
              </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <p-table [value]="displayData|name:termName" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr class=" text-capitalize text-center">
                                <th>Customer Id</th>
                                <th>Customer Name</th>
                                <th>transaction Id</th>
                                <th>transaction Date</th>
                                <th> Amount</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-displayData>
                            <tr>
                                <td class="text-center">{{ displayData.id }}</td>

                                <td class="text-center" (click)="updateChart(displayData)" role="button"><i class="fa-solid fa-user pe-1"></i>{{ displayData.name }}</td>

                                <td class="text-center">
                                  <span class="d-block" *ngFor="let transaction of displayData.transactions">
                                    {{transaction.id}}
                                  </span>
                                </td>
                                <td class="text-center">
                                  <span class="d-block" *ngFor="let transaction of displayData.transactions">
                                    <i class="fa-regular fa-calendar-days pe-1"></i>{{transaction.date}}
                                  </span>
                                </td>
                                <td class="text-center">
                                  <span class="d-block text-success" *ngFor="let transaction of displayData.transactions">
                                    {{transaction.amount}} LE
                                  </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-md-4">
              <div class="w-100 h-100" >
                <canvas id="myChart"></canvas>
                <canvas id="myLine"></canvas>
              </div>
            </div>
        </div>
    </div>
</section>



